<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    {{!-- Browser Tab --}}
    <title>Sweets and Bytes Bakery</title>

    {{!-- Page Header --}}
    <h1>Sweets and Bytes Bakery</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/order_products">Order Products</a>
        <a href="/products">Products</a>
    </nav>
</head>

<body>
    {{{body}}}
</body>
</html>