{{!-- Citation for the following page:
Date: 05-23-24
Adapted from: nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />  
    <link rel="stylesheet" type="text/css" href="./css/main.css" />  

    
    {{!-- Browser Tab --}}
    <title>Sweets and Bytes Bakery</title>
    
</head>

<body>
    {{!-- Page Header --}}
    <header>Sweets and Bytes Bakery</header>
   

    <nav class="global">
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/order_products">Order Details</a>
        <a href="/products">Products</a>
    </nav>
    <p><center>[ Due to browser compatibility issues, please use Microsoft Edge for best user experience ]</center></p>

   {{{body}}}
   

    
</body>

<footer>
    <p> &copy; Ngan Kim Tram and Jacqueline Truong </p>
</footer>
</html>