/* Citation for general page outline:
   Date: 07-07-24
   Adapted from: previous CS290 Web Development assignments
*/

/* Citation for various CSS inputs:
   Date: 07-07-24
   Adapted from: W3schools CSS tutorials
   Source URL: https://www.w3schools.com/css/default.asp
   Source URL: https://www.w3schools.com/css/css_font_google.asp
*/

/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');



/*  ----- Page layout -----  */
main {margin:1%;}


header {
  margin:1%;
  padding:1%;
  height:70px;
  text-align:center;
  font-family:"Sacramento", cursive;
  font-size: 50px;
}


body {       
  background-color: white;
  color: black;
  font-family: "Playfair Display", serif; 
  margin: 0 auto;
  padding:1%;
  max-width: 70%;
}

section {
  padding:1%;
} 

footer {
  text-align: center;
  
}


/*  ----- Navigation -----   */
nav.global {
  margin:0;
  padding:1%;
  line-height:1;
  text-align:center;
}
nav.global a {
  background-color: lightpink;
  border-radius:4px 4px 4px 4px; 
  color: black;
  font-size:1em;
  line-height: 1;
  font-weight:bold;
  margin-right: 6px;
  padding: 8px 14px 8px 14px;
  text-decoration:none;
}
nav.global a:hover {
  background-color: lightcoral;
  border:1px solid gray;
  color: black;
}

/*  -----  Font  ----- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;} 

::placeholder {color: dark gray}


/*  ----- Table ----- */
table {
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 5%;
    border-top-left-radius: 6px;
    
}    

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 10px;
  }


thead {
  text-align: center;
  background-color: rgba(249, 189, 198, .90);
  color: black;  
}

tr:nth-child(even) {              /* Styles alternating rows */
  background-color: rgba(249, 189, 198, .24);
}   


/*  ----- Forms ----- */
fieldset {
  border: 1px solid black;
  border-radius:8px 8px 8px 8px;
  padding: 1% 5% 4% 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: rgba(249, 189, 198, .2);
}

legend {
  border-radius: 4px;
}

label {display: inline-block;     /* Form input label (ex: First Name) */
  color: black;
  margin-top: 4%;
  font-size: 100%;
  margin-right: 4px;
} 
  

button {
  font: "Playfair Display", serif;
  border-radius: 6px;
  background-color: white;
  border-color: black;
}

input {
  font: "Playfair Display", serif;
  font-size: 85%;
  margin-right: 15px;
}



input[type="submit"] {            /* Styles the submit button: */
  font-size: 80%;
  border-radius: 6px;
  background-color: white;
  border-color: black;
} 

input[type="date"] {
  font-size: 80%;
  border-radius: 6px;
}


select {
  font: "Playfair Display", serif;
  color: black;
  font-size: 100%;
  margin-right: 15px;
}

